@model IEnumerable<MichellesWebsite.Models.DeliveryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costWithin500)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costWithin1000)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costPer1000)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costWithin500)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costWithin1000)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costPer1000)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
