@{
    ViewBag.Title = "Update Price";
}

<h2>Price</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Price</h4>
        <hr />

        @Html.Hidden("productId", (int)ViewBag.productId);

        <div class="form-group">
            @Html.Label("Price: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("price", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Please enter a price!", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="New Price" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
