@model MichellesWebsite.Models.PayPalTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PayPalTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentError)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
