@model MichellesWebsite.Models.ProductViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<div>
    <h4>@Model.name</h4>
    <hr />
    @using (Html.BeginForm("AddToBasket", "ViewProduct",FormMethod.Post))
    {
        <img src="https://chineselearningblob.blob.core.windows.net/containername/@Model.picture" alt="@Model.picture" width="300" height="300" />
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.price)
            <dt>
                @Html.DisplayNameFor(x => x.name)
            </dt>

            <dd>
                @Html.DisplayFor(x => x.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(x => x.description)
            </dt>

            <dd>
                @Html.DisplayFor(x => x.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(x => x.price)
            </dt>

            <dd>
                @ViewBag.Currency @Html.DisplayFor(x => x.price)
            </dd>
            <dt>
                @Html.DisplayNameFor(x => x.quantity)
            </dt>

            <dd>
                @Html.EditorFor(x => x.quantity, new { htmlAttributes = new { min = 0 } })
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add To Basket" class="btn btn-default" />
            </div>
        </div>

    }
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
