@model MichellesWebsite.Models.ProductStore

@{
    ViewBag.Title = "Products";
}

<h2>Index</h2>

    @for (int i =0; i< Model.products.Count; i++)
    {
        if (i % 4 == 0){Html.Raw("<div class=row>");}
            <div class="col-md-3">
                <h2>@Model.products[i].name</h2>
                <p>@Model.products[i].description<p>
                <img src="https://chineselearningblob.blob.core.windows.net/containername/@Model.products[i].picture" alt="@Model.products[i].picture" width="150" height="150" />
                <table>
                    <tr>
                        <td>
                            @Html.ActionLink("Details", "Product", "Details")   |    
                        </td>
                        <td>
                            @Html.ActionLink("Buy now", "Product", "Details")
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Price:
                        </th>
                        <td>
                            @Model.prices[i]
                        </td>
                    </tr>
                </table><p></p>
            </div>
       if(i % 3 == 0) {Html.Raw("</div>");
        }
    }

    
