@model MichellesWebsite.Models.ApplicationCart

@{
    ViewBag.Title = "Checkout with Cart";
}

<h2>@ViewBag.Title</h2>
<h4>
    Your purchase details
</h4>
<ul>
    @if (Model.PurchaseDescription != null)
    {
        <p>Purchase Description: @Model.PurchaseDescription</p>
    }
    <p>Total Price: @Model.TotalPrice @Model.Currency</p>
</ul>

@if (Model.Items != null)
{
    <p>
        Your cart contents:
    </p>
    <ul>
        @foreach (MichellesWebsite.Models.ApplicationCartItem item in Model.Items)
        {
            <li>@(item.Quantity + " x " + item.Name + " @ " + item.Price + " each")</li>
        }
    </ul>

}
@using (Html.BeginForm("PayPalExpressCheckout", "Purchase", FormMethod.Post))
{
    @Html.DropDownList("Addresses");

    <button type="submit">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="PayPal" />
    </button>
}
